doctype html
html(lang='it', ng-app='gpsSiamoNoiApp')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		title= title

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script.
			window.jQuery || document.write('<script src="/local/jquery.min.js"><\/script>')

		script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
		script.
			if(typeof($.fn.modal) === 'undefined') { document.write('<script src="/local/bootstrap.min.js"><\/script>')}


		script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-cookies.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-resource.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-sanitize.min.js')
				

		script(src='/lib/ui-bootstrap-tpls-0.9.0.min.js')
		script(src='/lib/scrollability.min.js')
		
		script(src='/scripts/utils.js')
		script(src='/scripts/main.js')

		script(src='/scripts/services/s_rest.js')
		script(src='/scripts/services/s_segnalazioni.js')
		script(src='/scripts/services/s_auth.js')

		script(src='/scripts/directives/html.js')

		script(src='/scripts/controllers/c_home.js')
		script(src='/scripts/controllers/c_nav.js')
		script(src='/scripts/controllers/c_contattaci.js')
		script(src='/scripts/controllers/c_segnalazioni_lista.js')
		script(src='/scripts/controllers/c_segnalazioni_nuovo.js')
		script(src='/scripts/controllers/c_twitter_profili.js')
		script(src='/scripts/controllers/c_twitter_tweets.js')
		script(src='/scripts/controllers/c_auth.js')

		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css')
		script.
			$(document).ready(function() {
			var bodyColor = $('body').css('color');
			if(bodyColor != 'rgb(51, 51, 51)') {
				$('head').prepend('<link rel="stylesheet" href="/local/bootstrap.min.css">'); 
			}
		link(rel='stylesheet', href='/stylesheets/style.css')


	body(ng-app='gpsSiamoNoiApp')
		//-div#loadingWidget.row-fluid.ui-corner-all(style='padding: 0 .7em; display: none;')
		//-	div.loadingContent
		//-		p
		//-			img(alt='Loading', src='images/ajax-loader.gif', width='100px')

		nav.navbar.navbar-inverse.navbar-fixed-bottom(role='navigation', data-ng-controller='NavCtrl')
			div.container
				div.navbar-header
					button.navbar-toggle(type='button' data-toggle='collapse' data-target='#bs-main-nav')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/')= title
					a.navbar-brand(href='{{linkUrl()}}')= '{{linkText()}}'
				div.collapse.navbar-collapse#bs-main-nav
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/segnalazioni/nuovo')='Segnala'
						li
							a(href='/twitter/profili')='Twitter'
		//-div.container
		//-	div(ng-view)
		div(ng-view)